@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Movie</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReleaseDate" class="control-label"></label>
                <input asp-for="ReleaseDate" class="form-control" />
                <span asp-validation-for="ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genre" class="control-label"></label>
                <input asp-for="Genre" class="form-control" />
                <span asp-validation-for="Genre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artists" class="control-label">Selecione um/os artistas:</label>
                <select name="Artists" id="Artists" class="form-control" multiple>
                    <option value="">Nenhum</option>
                    @if (ViewBag.Artists != null)
                    {
                        foreach (var item in (ViewBag.Artists as List<MvcMovie.Models.Artist>)!)
                        {
                            <option value="@item.ArtistId">@item.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="Artists" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudioId" class="control-label">Selecione o studio:</label>
                <select name="StudioId" id="StudioId" class="form-control">
                    <option value="">Nenhum</option>
                    @if (ViewBag.Studios != null)
                    {
                        foreach (var item in (ViewBag.Studios as List<MvcMovie.Models.Studio>)!)
                        {
                            <option value="@item.StudioId">@item.Name</option>
                        }
                    }
                </select>
                <span asp-validation-for="StudioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
