@{
    ViewData["Title"] = "Login Success";
}

<div class="container">
    <div class="alert alert-success" role="alert">
        <h2 class="alert-heading">Login Done Successfully!</h2>
        <h4>Welcome, @User.Identity?.Name! You are logged in to our platform.</h4>
        <hr>
        <a asp-controller="Home" asp-action="Index" class="btn btn-primary col-1">Home</a>
    </div>
</div>